* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    /* background-color: #F8F9FA; */
    background-color: #F7F7F7;
    /* background-color: #FEFAF6; */
    font-family: 'Ubuntu', sans-serif;
}


#particles-js {
    /* background-color: darkgreen; */
    position: absolute;
    z-index: -1;
    height: 93vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.logo {
    width: 25%;
}

nav {
    padding: 0 2rem;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

    /* the rest of your styling */
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}

header {
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 25%;
    margin-top: 5rem;
    text-align: center;
}

h3 {
    color: darkgray;
    margin: 2rem 0;
}

.profile-div {
    margin-right: 5rem;
    margin-bottom: 2rem;
}
.profile-pic {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 48%;
    box-shadow: 0 0 0 10px #fff;

} 

.intro {
    margin-top: 2rem;
}

h2 {
    padding-bottom: 1rem;
    text-align: center;
    margin-top: 1rem;
}

/* About section */
#about, #education {
    padding: 2rem 15%;

}


#about ul {
    padding-left: 1rem;
}

#about li::marker {
    content: "↬";
    color: #0dcaf0;
    /* color: #4f2b4f; */
    font-size: 1rem;
    font-weight: bolder;
}

#about li {
    padding-inline-start: 1ch;
    margin-bottom: 0.8rem;
}
.prof-description {
    margin-top: 1rem;
}

.zuri-img {
    width: 80px;
    margin-bottom: 0.5rem;

}

/* Project section */
.card-img-top {
    width: 100%;
    height: 50vw;
    object-fit: cover;
}

/* Education */
.education-div {
    /* background-color: #0DCAF0; */
    background-color: #FFFFFF;

    width: 300px;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}
.grad{
    text-align: center;
    margin-bottom: 1rem;
}
.grad-cap {
    width: 100px;
    object-fit: cover;
    
}
td {
    padding-right: 10px;
}
.button {
    width: 100%;
    /* background-color: #ddd; */
    background-color: #FFFFFF;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 6px;
    margin-right: 6px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .button:hover {
    /* background-color: #f1f1f1; */
    background-color: #0dcaf0;
  } 

  .buttons {
    width: 100%;
    table-layout: fixed;
    /* border-collapse: separate; */
    border-spacing: 4px 10px;
    /* background-color: red; */
}

/* Experience */
.experience {
    background-color: #FFFFFF;
    /* margin-bottom: 1rem; */
    border-radius: 12px;
    padding: 1.5rem;
    margin: 2rem 15%;
}

.position {
    /* width: 250px; */
    text-align: center;
    margin-bottom: 2rem;
}
.company {
    text-align: center;
}


.contact-form {
    padding: 3rem;
}


.contact-form h2{
    text-align: center;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: none;
    border-radius: 12px;
    background-color: #dcdcdc;
}
input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: block;
    border: none;
    color: #F8F9FA;
    background-color: #0dcaf0;
    font-size: 1.2rem;
    border-radius: 12px;

}
footer {
    background-color: #000;
    color: #F8F9FA;
    padding: 2rem 15%;
    justify-content: center;
}


footer a{
    text-decoration: none;
    color: #F8F9FA;
    margin-right: 2rem;
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
    }


}

@media screen and (max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) {

    .profile-pic {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #fff;
        margin-right: 5rem;
    } 

    #projects {
        padding: 3rem 15%;
    }
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
    #about, #education {
        display: flex;
        padding:  3rem 18%;
        
    }
    .experience {
        display: flex;
        padding:  3rem 2rem;
        margin: 2rem 18%;
    }
    .position {
        width: 250px;
        border-right: 2px solid #EBEBF3;
        margin-right: 2rem;
        text-align: left;
    }
    .company {
        text-align: left;
    }
    
    .education-div {
        width: 400px;
        margin-right: 4rem;
        padding: 2rem;
        border-radius: 8px;
    }

    .skills{
        width: 400px;
        margin-top: 4rem;
        /* display: inline-block; */
    }

    .contact-form {
        padding: 3rem 18%;
        
    }

    
}